<ion-header>
    <ion-toolbar color="success">
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <img class="avatar" src="../../../assets/images/avatarRecoverpassword.png">
    <p class="title"> Recover Password </p>
    <ion-text>
        <p> Okay, just tell us all u know.</p>
    </ion-text>

    <form [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPassword()">
        <ion-input type="email" placeholder="Email" formControlName="email" [class.is-invalid]="isValid('email')"></ion-input>
        <div *ngIf="isValid('email')">
            <p class="text-center m-0">Email is required. Min 5 characters.</p>
        </div>
        <ion-button expand="block" color="success" type="submit" [disabled]="!recoverPasswordForm.valid"> Recover Password </ion-button>
    </form>

    <p> <a routerLink="/home"> Back to Home </a></p>

</ion-content>