.profile{
    border-radius: 50rem;

    border: 0.15rem solid white;

    width: 15rem;
    height: 15rem;

    margin-left: 5.5rem;
    margin-top: 2rem;
}
.title{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}
h1{
    text-align: center;
    font-weight: 700;
}
p{
    text-align: center;
}
ion-list{
    background-color: transparent;
}
ion-button{
    height: 3rem;
    font-weight: 600;
}
