<ion-header>
    <ion-toolbar color="success">
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <img class="avatar" src="../../../assets/images/setPassword.jpg">
    <p class="title"> Set Password </p>
    <ion-text>
        <p> U are almost there.
        </p>
    </ion-text>

    <form [formGroup]="setPasswordForm" (ngSubmit)="setPassword()">
        <!-- Password -->
        <ion-input type="password" placeholder="Create the coolest password ever." formControlName="password" [class.is-invalid]="isValid('password')"></ion-input>
        <div *ngIf="isValid('password')">
            <p class="text-center m-0">Password is required. Min 8 characters.</p>
        </div>
        <!-- Repeat Password -->
        <ion-input type="password" placeholder="Repeat the coolest password ever again." formControlName="confirmPassword" [class.is-invalid]="isValid('confirmPassword')"></ion-input>
        <div *ngIf="matchNotSuccess">
            <p class="text-center m-0">Passwords doesn't match</p>
        </div>
        <ion-button expand="block" color="success" type="submit" [disabled]="!setPasswordForm.valid && !matchNotSuccess"> Recover Password </ion-button>
    </form>

    <p> <a routerLink="/home"> Back to Home </a></p>

</ion-content>