<ion-content color="dark" [fullscreen]="true">

  <ion-row>
    <img class="header animate__animated animate__zoomIn " src="../../assets/images/logo.png">
  </ion-row>
  <ion-row>
    <img class="logo animate__animated animate__zoomIn" src="../../assets/images/home.png">
  </ion-row>
  <ion-text>
    <h1> Welcome </h1>
    <p> Get started by loggin into your account </p>
  </ion-text>

  <!---->
  <ion-button expand="block" color="success" (click)="Login()"> Login </ion-button>
  <p> | or | </p>
  <ion-button expand="block" color="success" (click)="Register()"> Register </ion-button>

</ion-content>